<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="../styles/styles.css" rel="stylesheet" type="text/css">
  <title>Effects of AP Item Changes</title>
</head>
<body>

  <div style="margin-top:50px">
    <h1 style="text-align:center">Effects of AP Item Changes</h1>
  </div>

  <div class="row" height="100px" style="display:block">
    <div style="margin-left:75px;margin-right:75px;margin-top:50px;margin-bottom:150px">
      <h3>Project made for Riot Games' API Challenge</h3>
      <p>
        In patch 5.13, Riot introdued a flurry of changes across the ability power items. You can read about the changes <a href='http://na.leagueoflegends.com/en/news/game-updates/patch/patch-513-notes#patch-ability-power-itemization'>here</a>. How exactly did these changes affect your favorite champions? What's the new meta item for your playstyle? Click any of the champs below to find out!
      </p>
      <p>
        This data is pulled from approximately 60,000 ranked matches played in the NA, KR, and EUW regions; half from patch 5.11, and the other half from 5.14. 
      </p>
      <p>
        I built this as a challenge for Riot Games' API Challenge 2.0. You can view the source code on my <a href="https://github.com/territorialFerry/riotAPIChallenge">GitHub</a>. Fork it over if you'd like to contribute! If you have any questions/comments, or if you're curious about other game data, contact me <a href="https://github.com/vokoshyv">here</a>. 
      </p>
      <p>
        Thanks for checking it out!!
      </p>

    </div>
  </div>

  

  <div class="row">
    <div class="col-md-1"></div>
    <div class="row col-md-10">
      {{#each champions as |Champion|}}
      <div class="col-md-2 each-box">
        <div>
        <a href="/champ/{{Champion.CHAMP_NAME}}"><img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{Champion.forImage}}.png" alt="Image not found" onError="this.onerror=null;this.src='http://img2.wikia.nocookie.net/__cb20150220161905/leagueoflegends/images/thumb/1/1b/Urf_Poro_Icon.png/120px-Urf_Poro_Icon.png';"></a>   
        </div>
        <div>
          <a href="/champ/{{Champion.CHAMP_NAME}}">{{Champion.CHAMP_NAME}}</a>
        </div>
      
      </div>
      {{/each}}
    </div>
    
    <div class="col-md-1"></div>
  </div>

</body>
</html>